h1 Create Book
form(action="/users/create", method='POST')
    label  Name...........
    input(name="name",type="text")
    br
    br
    label   Age..............
    input(name="age",type="text")
    br
    br
    br
    button Create